* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body{
  background-color: #eee;
}
header {
  height: 60px;
  color: white;
  background: -webkit-linear-gradient(top right, rgb(236, 233, 234), rgb(14, 12, 12))
}
